{% call macros.panel("info", "Step 3 - pick some features") %}
<p>Mailu comes with multiple base features, including a specific admin
interface, Web email clients, antispam, antivirus, etc.
In this section you can enable the services to you liking.</p>

<!-- 	Switched from radio buttons to dropdown menu in order to remove the checkbox -->
<p>A Webmail is a Web interface exposing an email client. Mailu webmails are
bound to the internal IMAP and SMTP server for users to access their mailbox through
the Web. By exposing a complex application such as a Webmail, you should be aware of
the security implications caused by such an increase of attack surface.<p>
<div class="form-group">
  <label>Enable Web email client (and path to the Web email client)</label>
  <br/>
  <select class="btn btn-primary dropdown-toggle" name="webmail_type" id="webmail">
  	{% for webmailtype in ["none", "roundcube", "rainloop"] %}
  	<option value="{{ webmailtype }}" >{{ webmailtype }}</option>
  	{% endfor %}
  </select>
  <p></p>
  <div class="input-group">
    <input class="form-control" type="text" name="webmail_path" id="webmail_path" style="display: none">
  </div>
</div>

<p>An antivirus server helps fighting large scale virus spreading campaigns that leverage
e-mail for initial infection. Make sure that you have at least 1GB of memory for ClamAV to
load its signature database.</p>

<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="antivirus_enabled" value="clamav">
    Enable the antivirus service
  </label>
</div>

<p>A Webdav server exposes a Dav interface over HTTP so that clients can store
contacts or calendars using the mail account.</p>

<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="webdav_enabled" value="radicale">
    Enable the webdav service
  </label>
</div>

<p>Fetchmail allows to download mails over IMAP/POP3 and uploads it your Mailu mailbox.</p>

<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="fetchmail_enabled" value="true">
    Enable fetchmail
  </label>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='render.js') }}"></script>

{% endcall %}
