{% call macros.panel("info", "Step 5 - Number of replicas for containers") %}
<p>Select number of replicas for containers</p>

<div class="form-group">
  <input class="form-control" type="number" name="front_replicas" min="1" required value="1"
  		style="width: 6%; display: inline;">
  <label>Front</label>
</div>

<div class="form-group">
  <input class="form-control" type="number" name="admin_replicas" min="1" required value="1"
  		style="width: 6%; display: inline;">
  <label>Admin</label>
</div>

<div class="form-group">
  <input class="form-control" type="number" name="imap_replicas" min="1" required value="1"
  		style="width: 6%; display: inline;">
  <label>IMAP</label>
</div>

<div class="form-group">
  <input class="form-control" type="number" name=smtp_replicas min="1" required value="1"
  		style="width: 6%; display: inline;">
  <label>SMTP</label>
</div>

{% endcall %}
