{% extends "base.html" %}

{% block sidebar %}
<section class="sidebar">
  <ul class="sidebar-menu">
    <li class="header">{% trans %}Your account{% endtrans %}</li>
    <li>
      <a href="#">
        <i class="fa fa-sign-in"></i> <span>{% trans %}Sign in{% endtrans %}</span>
      </a>
    </li>
  </ul>
</section>
{% endblock %}

{% block title %}
{% trans %}Sign in{% endtrans %}
{% endblock %}

{% block subtitle %}
{% trans %}to access the administration tools{% endtrans %}
{% endblock %}

{% block box_content %}
{{ macros.form(form) }}
{% endblock %}
