{%- extends "base.html" %}

{%- block title %}
{% trans %}Add a global administrator{% endtrans %}
{%- endblock %}

{%- block main_action %}
<a class="btn btn-primary float-right" href="{{ url_for('.admin_list') }}">{% trans %}Back to{% endtrans %} {% trans %}Global administrators{% endtrans %}</a>
{%- endblock %}

{%- block content %}
{%- call macros.card() %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ macros.form_field(form.admin, class_='mailselect') }}
  {{ macros.form_field(form.submit) }}
</form>
{%- endcall %}
{%- endblock %}
