{% extends "base.html" %}

{% block title %}
Automatic reply
{% endblock %}

{% block subtitle %}
{{ user }}
{% endblock %}

{% block box_content %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ macros.form_field(form.reply_enabled,
      onchange="if(this.checked){$('#reply_subject,#reply_body').removeAttr('disabled')}
                else{$('#reply_subject,#reply_body').attr('disabled', '').val('')}",
      **{("checked" if user.forward else "unchecked"): ""}) }}
  {{ macros.form_field(form.reply_subject,
      **{("enabled" if user.reply_subject else "disabled"): ""}) }}
    {{ macros.form_field(form.reply_body, rows=10,
        **{("enabled" if user.reply_subject else "disabled"): ""}) }}
  {{ macros.form_field(form.submit) }}
</form>
{% endblock %}
