{% extends "base.html" %}

{% block title %}
{% trans %}New user{% endtrans %}
{% endblock %}

{% block subtitle %}
{{ domain.name }}
{% endblock %}

{% block content %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}

  {% call macros.box(_("General")) %}
  {{ macros.form_field(form.localpart, append='<span class="input-group-addon">@'+domain.name+'</span>') }}
  {{ macros.form_fields((form.pw, form.pw2)) }}
  {{ macros.form_field(form.comment) }}
  {{ macros.form_field(form.enabled) }}
  {% endcall %}

  {% call macros.box(_("Features and quotas"), theme="success") %}
  {{ macros.form_field(form.quota_bytes, step=1000000000, max=(max_quota_bytes or domain.max_quota_bytes or 50000000000),
      prepend='<span class="input-group-addon"><span id="quota">'+((form.quota_bytes.data//1000000000).__str__() if form.quota_bytes.data else '∞')+'</span> GiB</span>',
      oninput='$("#quota").text(this.value == 0  ? "∞" : this.value/1000000000);') }}
  {{ macros.form_field(form.enable_imap) }}
  {{ macros.form_field(form.enable_pop) }}
  {% endcall %}

  {{ macros.form_field(form.submit) }}
</form>
{% endblock %}
