{% extends "base.html" %}

{% block page %}
  {% call macros.panel("warning", "Before starting, read the docs!") %}
  Mailu is not perfectly documented, but still has a lot of documentation
  available at <a href="https://mailu.io">mailu.io</a>. Make sure you read
  the appropriate documentation for your setup and have all the requirements
  ready when using this wizard.
  {% endcall %}

  <form method="post" action="{{ url_for(".submit") }}">
  <input type="hidden" name="flavor" value="{{ flavor }}">
  {% include "steps/config.html" %}
  {%for file in steps %}
  {% include "steps/" + flavor + "/" + file %}
  {% endfor %}
  {% include "steps/database.html" %}
  <input class="btn btn-primary" type="submit" value="Setup Mailu">
  </form>
{% endblock %}
