**/*.pyc
**/*.mo
__pycache__
pip-selfcheck.json
/core/admin/lib*
/core/admin/bin
/core/admin/include
/core/base/.venv
/docs/lib*
/docs/bin
/docs/include
/docs/contributors/mailu-network-diagram.svg
/docs/_build
/.env
/.venv
/docker-compose.yml
/.idea
/.vscode
qemu-arm-static
