{% extends "base.html" %}

{% block title %}
{% trans %}Services status{% endtrans %}
{% endblock %}

{% block content %}
{% call table() %}
<tr>
  <th>{% trans %}Service{% endtrans %}</th>
  <th>{% trans %}Status{% endtrans %}</th>
  <th>{% trans %}PID{% endtrans %}</th>
  <th>{% trans %}Image{% endtrans %}</th>
  <th>{% trans %}Started{% endtrans %}</th>
  <th>{% trans %}Last update{% endtrans %}</th>
</tr>
{% for name, container in containers.items() %}
<tr>
  <td>{{ name }}</td>
  <td><span class="label label-{{ "success" if container['State']['Running'] else "danger" }}">{{ container['State']['Status'] }}</span></td>
  <td>{{ container['State']['Pid'] }}</td>
  <td>{{ container['Config']['Image'] }}</td>
  <td>{{ container['State']['StartedAt'] }}</td>
  <td>{{ container['Image']['Created'] }}
</tr>
{% endfor %}
{% endcall %}
{% endblock %}
