{% import "macros.html" as macros %}
{% import "bootstrap/utils.html" as utils %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('.static', filename='vendor.css') }}">
    <link rel="stylesheet" href="{{ url_for('.static', filename='app.css') }}">
    <title>Mailu - {{ config["SITENAME"] }}</title>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
        </ul>
      </nav>
      <aside class="main-sidebar sidebar-dark-primary">
        <a class="brand-link">
         <span class="brand-text font-weight-light">{{ config["SITENAME"] }}</span>
        </a>
        {% block sidebar %}
        {% include "sidebar_sso.html" %}
        {% endblock %}
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0">{% block title %}{% endblock %}</h1>
                <small>{% block subtitle %}{% endblock %}</small>
              </div>
              <div class="col-sm-6">
                {% block main_action %}
                {% endblock %}
              </div>
            </div>
          </div>
        </section>

        <div class="content">
          {{ utils.flashed_messages(container=False) }}
          {% block content %}{% endblock %}
        </div>
      </div>
      <footer class="main-footer">
        Built with <i class="fa fa-heart"></i> using <a class="white-text" href="http://flask.pocoo.org/">Flask</a> and
        <a class="white-text" href="https://adminlte.io/themes/v3/index3.html">AdminLTE</a>
        <span class="pull-right"><i class="fa fa-code-fork"></i>on <a class="white-text" href="https://github.com/Mailu/Mailu">Github</a></a></span>
      </footer>
    </div>
    <script src="{{ url_for('.static', filename='vendor.js') }}"></script>
    <script src="{{ url_for('.static', filename='app.js') }}"></script>
  </body>
</html>
