{%- extends "base_sso.html" %}

{%- block content %}
{%- call macros.card() %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ macros.form_field(form.email) }}
  {{ macros.form_field(form.pw) }}
  {{ macros.form_fields(fields, label=False, class="btn btn-default") }}
</form>
{% if oidc_enabled %}
<hr>
<a class="btn btn-default" href="{{ url_for('sso.oidc_login', url=request.args.get('url')) }}">{% trans %}Sign in with OpenID Connect{% endtrans %}</a>
{% endif %}
{%- endcall %}
{%- endblock %}
