<div class="sidebar-wrapper">
  <nav id="navigation" class="mt-2">
    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
    <li class="nav-header text-uppercase text-primary" role="none">{% trans %}Go to{% endtrans %}</li>
    {%- if config['ADMIN'] %}
      <li class="nav-item" role="none">
        <a href="{{ url_for('ui.client') }}" class="nav-link" role="menuitem">
          <i class="nav-icon fa-solid fa-laptop"></i>
          <p>{% trans %}Client setup{% endtrans %}</p>
        </a>
      </li>
    {%- endif %}
      <li class="nav-item" role="none">
        <a href="{{ config["WEBSITE"] }}" target="_blank" class="nav-link" role="menuitem" rel="noreferrer">
          <i class="nav-icon fa-solid fa-globe"></i>
          <p>{% trans %}Website{% endtrans %} <i class="fa-solid fa-up-right-from-square small"></i></p>
        </a>
      </li>
      <li class="nav-item" role="none">
        <a href="https://mailu.io" target="_blank" class="nav-link" role="menuitem">
          <i class="nav-icon fa-solid fa-life-ring"></i>
          <p>{% trans %}Help{% endtrans %} <i class="fa-solid fa-up-right-from-square small"></i></p>
        </a>
      </li>
    {#-
      Domain self-registration is only available when
       - Admin is available
       - Domain Self-registration is enabled
       - The current user is not logged on
    #}
    {%- if config['DOMAIN_REGISTRATION'] and not current_user.is_authenticated and config['ADMIN'] %}
      <li class="nav-item" role="none">
        <a href="{{ url_for('ui.domain_signup') }}" class="nav-link" role="menuitem">
          <i class="nav-icon fa-solid fa-square-plus"></i>
          <p>{% trans %}Register a domain{% endtrans %}</p>
        </a>
      </li>
    {%- endif %}
      <li class="nav-item" role="none">
        <a href="{{ url_for('sso.login') }}" class="nav-link" role="menuitem">
          <i class="nav-icon fa-solid fa-right-to-bracket"></i>
          <p>{% trans %}Sign in{% endtrans %}</p>
        </a>
      </li>
    {#-
      User self-registration is only available when
       - Admin is available
       - Self-registration is enabled
       - The current user is not logged on
    #}
    {%- if not current_user.is_authenticated and signup_domains and config['ADMIN'] %}
      <li class="nav-item" role="none">
        <a href="{{ url_for('ui.user_signup') }}" class="nav-link" role="menuitem">
          <i class="nav-icon fa-solid fa-user-plus"></i>
          <p>{% trans %}Sign up{% endtrans %}</p>
        </a>
      </li>
    {%- endif %}
    </ul>
  </nav>
</div>
