{% extends "base.html" %}

{% block title %}
Domain list
{% endblock %}

{% block main_action %}
{% if current_user.global_admin %}
<a class="btn btn-primary" href="{{ url_for('.domain_create') }}">New domain</a>
{% endif %}
{% endblock %}

{% block box %}
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Actions</th>
      <th>Manage</th>
      <th>Domain name</th>
      <th>Mailbox count</th>
      <th>Alias count</th>
      <th>Comment</th>
      <th>Created</th>
      <th>Last edit</th>
    </tr>
    {% for domain in current_user.get_managed_domains() %}
    <tr>
      <td>
        <a href="{{ url_for('.domain_details', domain_name=domain.name) }}" title="Details"><i class="fa fa-list"></i></a>&nbsp;
        {% if current_user.global_admin %}
        <a href="{{ url_for('.domain_edit', domain_name=domain.name) }}" title="Edit"><i class="fa fa-pencil"></i></a>&nbsp;
        <a href="{{ url_for('.domain_delete', domain_name=domain.name) }}" onclick="return confirm('Are you sure?')" title="Delete"><i class="fa fa-trash"></i></a>&nbsp;
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('.user_list', domain_name=domain.name) }}" title="Users"><i class="fa fa-envelope-o"></i></a>&nbsp;
        <a href="{{ url_for('.alias_list', domain_name=domain.name) }}" title="Aliases"><i class="fa fa-at"></i></a>&nbsp;
        <a href="{{ url_for('.manager_list', domain_name=domain.name) }}" title="Managers"><i class="fa fa-user"></i></a>&nbsp;
      </td>
      <td>{{ domain.name }}</td>
      <td>{{ domain.users | count }} / {{ domain.max_users or '∞' }}</td>
      <td>{{ domain.aliases | count }} / {{ domain.max_aliases or '∞' }}</td>
      <td>{{ domain.comment or '' }}</td>
      <td>{{ domain.created_at }}</td>
      <td>{{ domain.updated_at or '' }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
