.select2-search--inline .select2-search__field:focus {
  border: none;
}

.sidebar h4 {
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-collapse .sidebar h4 {
  display: none !important;
}

.logo a {
  color: #fff;
}

.sidebar-toggle {
  padding: unset !important;
}

/* 
 * Temporary workaround to get FontAwesome icons working. 
 * Should be updated if AdminLTE is updated to use the same version. 
 * This workaround can be removed if someone gets the icons working
 * again via the plugins included with AdminLTE
  */
@import url("//use.fontawesome.com/releases/v5.15.3/css/all.css");
