{% call macros.panel("info", "Step 2 - Pick some features") %}
<p>Mailu comes with multiple base features, including a specific admin
interface, Web email clients, antispam, antivirus, etc.
In this section you can enable the services to you liking.</p>

<!-- 	Switched from radio buttons to dropdown menu in order to remove the checkbox -->
<p>A Webmail is a Web interface exposing an email client. Mailu webmails are
bound to the internal IMAP and SMTP server for users to access their mailbox through
the Web. By exposing a complex application such as a Webmail, you should be aware of
the security implications caused by such an increase of attack surface.<p>
<div class="form-group">
  <label>Enable Web email client (and path to the Web email client)</label>
  <br/>
  <select class="btn btn-primary dropdown-toggle" name="webmail_type" id="webmail">
  	{% for webmailtype in ["none", "roundcube", "snappymail"] %}
  	<option value="{{ webmailtype }}" >{{ webmailtype }}</option>
  	{% endfor %}
  </select>
  <p></p>
  <div class="input-group">
    <input class="form-control" type="text" name="webmail_path" id="webmail_path" style="display: none">
  </div>
</div>


<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="antivirus_enabled" value="clamav">
    Enable the antivirus service
  </label>

  <i>An antivirus server helps fighting large scale virus spreading campaigns that leverage
    e-mail for initial infection. Make sure that you have at least 1GB of memory for ClamAV to
    load its signature database.</i>
</div>


<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="webdav_enabled" value="radicale">
    Enable the webdav service
  </label>

  <i>A Webdav server exposes a Dav interface over HTTP so that clients can store
    contacts or calendars using the mail account.</i>
</div>


<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="fetchmail_enabled" value="true">
    Enable fetchmail
  </label>

  <i>Fetchmail allows users to retrieve mail from an external mail-server via IMAP/POP3 and puts it in their inbox.</i>
</div>

<div class="form-check form-check-inline">
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="oletools_enabled" value="true" checked>
    Enable oletools
  </label>

  <i>Oletools scans documents in email attachements for malicious macros. It has a much lower memory footprint than a full-fledged anti-virus.</i>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript" src="{{ url_for('static', filename='render.js') }}"></script>


{% endcall %}
