{%- extends "base.html" %}

{%- block title %}
{% trans %}Register a domain{% endtrans %}
{%- endblock %}

{%- block content %}

<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}

  {%- call macros.card(title="Requirements") %}
  <p>{% trans %}In order to register a new domain, you must first setup the
    domain zone so that the domain <code>MX</code> points to this server{% endtrans %}
    (<code>{{ config["HOSTNAME"] }}</code>).
  </p>
  <p>
    {% trans %}If you do not know how to setup an <code>MX</code> record for your DNS zone,
    please contact your DNS provider or administrator. Also, please wait a
    couple minutes after the <code>MX</code> is set so the local server cache
    expires.{% endtrans %}
  </p>
  {%- endcall %}

  {%- call macros.card() %}
  {%- if form.localpart %}
  {{ macros.form_fields((form.localpart, form.name), append='<span class="input-group-text">@</span>') }}
  {{ macros.form_fields((form.pw, form.pw2)) }}
  {%- else %}
  {{ macros.form_field(form.name) }}
  {%- endif %}
  {{ macros.form_field(form.captcha) }}
  {{ macros.form_field(form.submit) }}
  {%- endcall %}
</form>
{%- endblock %}
