aiodns==3.1.1
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.13.1
aniso8601==9.0.1
attrs==23.2.0
Babel==2.14.0
bcrypt==4.1.2
blinker==1.7.0
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorclass==2.2.2
cryptography==42.0.5
defusedxml==0.7.1
Deprecated==1.2.14
dnspython==2.5.0
dominate==2.9.1
easygui==0.98.3
email-validator==2.1.0.post1
Flask==3.0.1
flask-babel==4.0.0
Flask-Bootstrap==3.3.7.1
Flask-DebugToolbar==0.14.1
Flask-Login==0.6.3
flask-marshmallow==1.1.0
Flask-Migrate==4.0.5
flask-restx==1.3.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frozenlist==1.4.1
greenlet==3.0.3
gunicorn==22.0.0
idna==3.6
importlib-resources==6.1.1
infinity==1.5
intervals==0.9.2
itsdangerous==2.1.2
Jinja2==3.1.3
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
limits==3.7.0
Mako==1.3.0
MarkupSafe==2.1.4
marshmallow==3.20.2
marshmallow-sqlalchemy==0.30.0
msoffcrypto-tool==5.3.1
multidict==6.0.4
mysql-connector-python==8.3.0
olefile==0.47
oletools==0.60.1
packaging==23.2
passlib==1.7.4
pcodedmp==1.2.6
podop @ file:///app/libs/podop
postfix-mta-sts-resolver==1.4.0
psycopg2-binary==2.9.9
pycares==4.4.0
pycparser==2.21
Pygments==2.17.2
pyparsing==2.4.7
python-dateutil==2.8.2
python-magic==0.4.27
pytz==2023.3.post1
PyYAML==6.0.1
Radicale==3.1.8
redis==5.0.1
referencing==0.32.1
requests==2.31.0
rpds-py==0.17.1
six==1.16.0
socrate @ file:///app/libs/socrate
SQLAlchemy==2.0.25
srslib==0.1.4
tabulate==0.9.0
tenacity==8.2.3
typing_extensions==4.9.0
urllib3==2.1.0
validators==0.22.0
visitor==0.1.3
vobject==0.9.6.1
watchdog==3.0.0
Werkzeug==3.0.1
wrapt==1.16.0
WTForms==3.1.2
WTForms-Components==0.10.5
xmltodict==0.13.0
yarl==1.9.4
