# core/base
libs/podop
libs/socrate

# core/admin
alembic
Babel
bcrypt
click
dnspython
Flask
Flask-Babel
Flask-Bootstrap
Flask-DebugToolbar
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-SQLAlchemy<3
Flask-WTF
gunicorn
idna
itsdangerous
limits
marshmallow
marshmallow-sqlalchemy
mysql-connector-python==8.0.29
passlib
psycopg2-binary
Pygments
PyYAML
redis
SQLAlchemy
srslib
tabulate
tenacity
validators
Werkzeug
WTForms
WTForms-Components
xmltodict

# core/nginx
watchdog

# core/postfix
postfix-mta-sts-resolver

# core/oletools
python-magic
oletools

# optional/fetchmail
requests

# optional/radicale
radicale

