{%- extends "base.html" %}

{%- block title %}
{% trans %}Add a relay account{% endtrans %}
{%- endblock %}

{%- block subtitle %}
{{ user }}
{%- endblock %}

{%- block content %}
{%- call macros.card() %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ macros.form_field(form.relay_mail) }}
  {{ macros.form_fields((form.host, form.port)) }}
  {{ macros.form_field(form.tls) }}
  {{ macros.form_field(form.username) }}
  {{ macros.form_field(form.password) }}
  <p>{% trans %}When pressing the submit button an actual login
    to the relay server ist tried. Please be patiant as antispam
    rules can defer the login.{% endtrans %}
  </p>
  <p>{% trans %}If the error "SSL: WRONG_VERSION_NUMBER" is shown
    and TLS is activated check the port. The default port for 
    encryptet mail transport is 465.{% endtrans %}
  </p>
  {{ macros.form_field(form.submit) }}
</form>
{%- endcall %}
{%- endblock %}
