#taskbar a.button-mailu span.button-inner {
  background: url('/static/mailu.png');
  background-repeat: no-repeat;
  background-size: 22px 22px;
  height: 19px;
}
#taskbar a.button-mailu.selected, #taskmenu a.button-mailu.selected:hover, #taskmenu a.button-mailu:hover {
  color: #fff;
  background-color: #45555c;
}
