{% extends "base.html" %}

{% block title %}
Add a manager
{% endblock %}

{% block subtitle %}
{{ domain }}
{% endblock %}

{% block box_content %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ macros.form_field(form.manager, id='manager') }}
  {{ macros.form_field(form.submit) }}
  <script>
    $("#manager").tagsinput({
      confirmKeys: [9, 13, 32],
      tagClass: 'label label-primary large',
      typeahead: {
        afterSelect: function(val) { this.$element.val(""); },
        source: {{ current_user.get_managed_emails()|map('string')|list|tojson }}
      }
    });
  </script>
</form>
{% endblock %}
