{% extends "base.html" %}

{% block title %}
Global administrators
{% endblock %}

{% block main_action %}
<a class="btn btn-primary" href="{{ url_for('.admin_create') }}">Add administrator</a>
{% endblock %}

{% block box %}
<table class="table table-bordered">
  <tbody>
    <tr>
      <th>Actions</th>
      <th>Email</th>
    </tr>
    {% for admin in admins %}
    <tr>
      <td>
        <a href="{{ url_for('.admin_delete', admin=admin.email) }}" title="Delete"><i class="fa fa-trash"></i></a>
      </td>
      <td>{{ admin }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
