{% call macros.panel("info", "Step 1 - pick a flavor") %}
<p>Mailu comes in multiple "flavors". It was originally
designed to run on top of Docker Compose but now offers multiple options
including Docker Stack, Rancher, Kubernetes.</p>
<p>Please note that "official" support, that is provided by the most active
developpers, will mostly cover Compose and Stack, while other flavors are
maintained by specific contributors.</p>

<div class="radio">
  {{ macros.radio("flavor", "compose", "Compose", "simply using Docker Compose manager") }}
  {{ macros.radio("flavor", "stack", "Stack", "using stack deployments in a Swarm cluster") }}
  {{ macros.radio("flavor", "rancher", "Rancher", "on top of the Rancher container manager") }}
  {{ macros.radio("flavor", "kubernetes", "Kubernetes", "on top of the Kubernetes container manager") }}
</div>

{% endcall %}
