{% extends "base.html" %}

{% block title %}
{% trans %}User settings{% endtrans %}
{% endblock %}

{% block subtitle %}
{{ user }}
{% endblock %}

{% block content %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {% call macros.box(title="General settings") %}
  {{ macros.form_field(form.displayed_name) }}
  {% endcall %}

  {% call macros.box(title="Antispam") %}
  {{ macros.form_field(form.spam_enabled) }}
  {{ macros.form_field(form.spam_threshold, step=1, max=100,
      prepend='<span class="input-group-addon"><span id="threshold">'+form.spam_threshold.data.__str__()+'</span>&nbsp;/&nbsp;100</span>',
      oninput='$("#threshold").text(this.value);') }}
  {% endcall %}
  {{ macros.form_field(form.submit) }}
</form>
{% endblock %}
