<!DOCTYPE html>
<html>
<head>
<title><roundcube:object name="pagetitle" /></title>
<roundcube:include file="includes/links.html" />
</head>
<body class="settings">
<roundcube:include file="includes/header.html" />
<div id="mainscreen">
<div id="settings-menu" class="uibox listbox">
<roundcube:object name="settingstabs" id="settings-tabs" class="treelist" />
</div>
<div id="settings-content" class="uibox contentbox">
<h1 class="boxtitle"><roundcube:label name="mailu.changepassword" /></h1>
<div class="boxcontent">
<roundcube:object name="passwordform" />
</div>
</div>
</div>
<roundcube:include file="includes/footer.html" />
</body>
</html>
