{%- extends "base.html" %}

{%- block title %}
{% trans %}Anonymous Email Access{% endtrans %}
{%- endblock %}

{%- block subtitle %}
{{ domain.name }}
{%- endblock %}

{%- block main_action %}
<a class="btn btn-primary float-right" href="{{ url_for('.domain_access_create', domain_name=domain.name) }}">{% trans %}Grant access{% endtrans %}</a>
{%- endblock %}

{%- block content %}
{%- call macros.table(order='[[1,"asc"]]') %}
<thead>
  <tr>
    <th data-orderable="false">{% trans %}Actions{% endtrans %}</th>
    <th>{% trans %}User{% endtrans %}</th>
  </tr>
</thead>
<tbody id="access-list-body">
{%- for access in domain.domain_accesses %}
<tr data-access-id="{{ access.id }}">
  <td>
    <a href="{{ url_for('.domain_access_delete', domain_name=domain.name, access_id=access.id) }}" title="{% trans %}Revoke{% endtrans %}"><i class="fa fa-trash"></i></a>
  </td>
  <td>{{ access.user_email or '-' }}</td>
</tr>
{%- endfor %}
</tbody>
{%- endcall %}
{%- endblock %}
