{%- extends "base.html" %}

{%- block title %}
{% trans %}Add a manager{% endtrans %}
{%- endblock %}

{%- block subtitle %}
{{ domain }}
{%- endblock %}

{%- block main_action %}
<a class="btn btn-primary float-right" href="{{ url_for('.manager_list', domain_name=domain.name) }}">{% trans %}Back to{% endtrans %} {% trans %}Manager list{% endtrans %}</a>
{%- endblock %}

{%- block content %}
{%- call macros.card() %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ macros.form_field(form.manager, class_='mailselect') }}
  {{ macros.form_field(form.submit) }}
</form>
{%- endcall %}
{%- endblock %}
