{%- extends "base.html" %}

{%- block title %}
{% trans %}Create alias{% endtrans %}
{%- endblock %}

{%- block subtitle %}
{{ domain }}
{%- endblock %}

{%- block main_action %}
<a class="btn btn-primary float-right" href="{{ url_for('.alias_list', domain_name=domain.name) }}">{% trans %}Back to{% endtrans %} {% trans %}Alias list{% endtrans %}</a>
{%- endblock %}

{%- block content %}
{%- call macros.card() %}
<form class="form" method="post" role="form">
  {{ form.hidden_tag() }}
  {{ macros.form_field(form.localpart, append='<span class="input-group-text">@'+domain.name+'</span>', autofocus=True, autocomplete="off", autocorrect="off", autocapitalize="off", spellcheck="false") }}
  {{ macros.form_field(form.wildcard) }}
  {{ macros.form_field(form.destination, class_='mailselect') }}
  {{ macros.form_field(form.comment) }}
  {{ macros.form_field(form.submit) }}
</form>
{%- endcall %}
{%- endblock %}
