{% import "macros.html" as macros %}
<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('.static', filename='vendor.css') }}">
    <script src="{{ url_for('.static', filename='vendor.js') }}"></script>
    <script src="{{ url_for('.static', filename='app.js') }}"></script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
      <header class="main-header">
        <div class="logo">
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <a href="{{ config["WEB_ADMIN"] }}">
            <span class="logo-lg">{{ config["SITENAME"] }}</span>
          </a>
        </div>
      </header>
      <aside class="main-sidebar">
        {% block sidebar %}
        {% include "sidebar.html" %}
        {% endblock %}
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          <div class="pull-right">
            {% block main_action %}
            {% endblock %}
          </div>
          <h1>
            {% block title %}{% endblock %}
            <small>{% block subtitle %}{% endblock %}</small>
          </h1>
        </section>

        <section class="content">
          {% block content %}{% endblock %}
        </section>
      </div>
      <footer class="main-footer">
        Built with <i class="fa fa-heart"></i> using <a class="white-text" href="http://flask.pocoo.org/">Flask</a> and
        <a class="white-text" href="https://almsaeedstudio.com/preview">AdminLTE</a>
        <span class="pull-right"><i class="fa fa-code-fork"></i> on <a class="white-text" href="https://github.com/Mailu/Mailu">Github</a></a></span>
      </footer>
    </div>
  </body>
</html>
