{% import "bootstrap/utils.html" as utils %}
{% import "macros.html" as macros %}
{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{ url_for('.static', filename='select2/css/select2.min.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('.static', filename='adminlte/css/AdminLTE.min.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='adminlte/css/skin-blue.min.css') }}">
<link rel="stylesheet" href="{{ url_for('.static', filename='app.css') }}">
{% endblock %}

{% block head %}
{{super()}}
{% block scripts %}
{{super()}}
<script src="{{ url_for('.static', filename='select2/js/select2.min.js') }}"></script>
<script src="{{ url_for('.static', filename='adminlte/js/app.min.js') }}"></script>
{% endblock %}
{% endblock %}

{% block body_attribs %}
class="hold-transition skin-blue sidebar-mini"
{% endblock %}

{% block body %}
  <div class="wrapper">
    {% block navbar %}
    <header class="main-header">
      <a href="/admin/" class="logo">
        <span class="logo-lg">{{ config["SITENAME"] }}</span>
      </a>
    </header>
    <aside class="main-sidebar">
      {% block sidebar %}
      {% include "sidebar.html" %}
      {% endblock %}
    </aside>
    {% endblock %}

    <div class="content-wrapper">
      <section class="content-header">
        <div class="pull-right">
          {% block main_action %}
          {% endblock %}
        </div>
        <h1>
          {% block title %}{% endblock %}
          <small>{% block subtitle %}{% endblock %}</small>
        </h1>
      </section>

      <section class="content">
        {{ utils.flashed_messages(container=False) }}
        {% block content %}{% endblock %}
      </section>
    </div>
    <footer class="main-footer">
      Built with <i class="fa fa-heart"></i> using <a class="white-text" href="http://flask.pocoo.org/">Flask</a> and
      <a class="white-text" href="https://almsaeedstudio.com/preview">AdminLTE</a>
      <span class="pull-right"><i class="fa fa-code-fork"></i> on <a class="white-text" href="https://github.com/Mailu/Mailu">Github</a></a>
    </footer>
  </div>
{% endblock %}
