<section class="sidebar">
  {% if current_user.is_authenticated %}
  <h4 class="text-center text-primary">{{ current_user }}</h4>
  {% endif %}

  <ul class="sidebar-menu">
    {% if current_user.is_authenticated %}
    <li class="header">{% trans %}My account{% endtrans %}</li>
    <li>
      <a href="{{ url_for('.user_settings') }}">
        <i class="fa fa-wrench"></i> <span>{% trans %}Settings{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('.user_password') }}">
        <i class="fa fa-lock"></i> <span>{% trans %}Update password{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('.user_forward') }}">
        <i class="fa fa-share"></i> <span>{% trans %}Auto-forward{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('.user_reply') }}">
        <i class="fa fa-plane"></i> <span>{% trans %}Auto-reply{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('.fetch_list') }}">
        <i class="fa fa-download"></i> <span>{% trans %}Fetched accounts{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('.token_list') }}">
        <i class="fa fa-ticket"></i> <span>{% trans %}Authentication tokens{% endtrans %}</span>
      </a>
    </li>

    <li class="header">{% trans %}Administration{% endtrans %}</li>
    {% if current_user.global_admin %}
    <li>
      <a href="{{ url_for('.services') }}">
        <i class="fa fa-dashboard"></i> <span>{% trans %}Services status{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('.announcement') }}">
        <i class="fa fa-bullhorn"></i> <span>{% trans %}Announcement{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('.admin_list') }}">
        <i class="fa fa-user"></i> <span>{% trans %}Administrators{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ url_for('.relay_list') }}">
        <i class="fa fa-reply-all"></i> <span>{% trans %}Relayed domains{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="{{ config["WEB_ADMIN"] }}/antispam/">
        <i class="fa fa-trash-o"></i> <span>{% trans %}Antispam{% endtrans %}</span>
      </a>
    </li>
    {% endif %}
    {% if current_user.manager_of or current_user.global_admin %}
    <li>
      <a href="{{ url_for('.domain_list') }}">
        <i class="fa fa-envelope"></i> <span>{% trans %}Mail domains{% endtrans %}</span>
      </a>
    </li>
    {% endif %}
    {% endif %}

    <li class="header">{% trans %}Go to{% endtrans %}</li>
    {% if config["WEBMAIL"] != "none" %}
    <li>
      <a href="{{ config["WEB_WEBMAIL"] }}/">
        <i class="fa fa-envelope-o"></i> <span>{% trans %}Webmail{% endtrans %}</span>
      </a>
    </li>
    {% endif %}
    <li>
      <a href="{{ config["WEBSITE"] }}">
        <i class="fa fa-globe"></i> <span>{% trans %}Website{% endtrans %}</span>
      </a>
    </li>
    <li>
      <a href="https://mailu.io">
        <i class="fa fa-life-ring"></i> <span>{% trans %}Help{% endtrans %}</span>
      </a>
    </li>
    {% if current_user.is_authenticated %}
    <li>
      <a href="{{ url_for('.logout') }}">
        <i class="fa fa-sign-out"></i> <span>{% trans %}Sign out{% endtrans %}</span>
      </a>
    </li>
    {% else %}
    <li>
      <a href="#">
        <i class="fa fa-sign-in"></i> <span>{% trans %}Sign in{% endtrans %}</span>
      </a>
    </li>
    {% endif %}
  </ul>
</section>
