<div class="sidebar">
  {% if current_user.is_authenticated %}
  <div class="user-panel mt-3 pb-3 mb-3 d-flex">
    <div class="info">
      <span class="text-center text-primary">{{ current_user }}</span>
    </div>
  </div>
  {% endif %}

  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
      {% if current_user.is_authenticated %}
      <li class="nav-header">{% trans %}My account{% endtrans %}</li>
      <li class="nav-item">
        <a href="{{ url_for('.user_settings') }}" class="nav-link">
          <i class="nav-icon fa fa-wrench"></i>
          <p class="text">{% trans %}Settings{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.user_password') }}" class="nav-link">
          <i class="nav-icon fa fa-lock"></i>
          <p class="text">{% trans %}Update password{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.user_reply') }}" class="nav-link">
          <i class="nav-icon fa fa-plane"></i>
          <p class="text">{% trans %}Auto-reply{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.fetch_list') }}" class="nav-link">
          <i class="nav-icon fas fa-download"></i>
          <p class="text">{% trans %}Fetched accounts{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.token_list') }}" class="nav-link">
          <i class="nav-icon fas fa-ticket-alt"></i>
          <p class="text">{% trans %}Authentication tokens{% endtrans %}</p>
        </a>
      </li>

      {% if current_user.manager_of or current_user.global_admin %}
      <li class="nav-header">{% trans %}Administration{% endtrans %}</li>
      {% endif %}
      {% if current_user.global_admin %}
      <li class="nav-item">
        <a href="{{ url_for('.announcement') }}" class="nav-link">
          <i class="nav-icon fa fa-bullhorn"></i>
          <p class="text">{% trans %}Announcement{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.admin_list') }}" class="nav-link">
          <i class="nav-icon fa fa-user"></i>
          <p class="text">{% trans %}Administrators{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ url_for('.relay_list') }}" class="nav-link">
          <i class="nav-icon fa fa-reply-all"></i>
          <p class="text">{% trans %}Relayed domains{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ config["WEB_ADMIN"] }}/antispam/" target="_blank" class="nav-link">
        <i class="nav-icon fas fa-trash-alt"></i>
        <p class="text">{% trans %}Antispam{% endtrans %}</p>
        </a>
      </li>
      {% endif %}
      {% if current_user.manager_of or current_user.global_admin %}
      <li class="nav-item">
        <a href="{{ url_for('.domain_list') }}" class="nav-link">
          <i class="nav-icon fa fa-envelope"></i>
          <p class="text">{% trans %}Mail domains{% endtrans %}</p>
        </a>
      </li>
      {% endif %}
      {% endif %}

      <li class="nav-header">{% trans %}Go to{% endtrans %}</li>
      {% if config["WEBMAIL"] != "none" %}
      <li class="nav-item">
        <a href="{{ config["WEB_WEBMAIL"] }}" target="_blank" class="nav-link">
        <i class="nav-icon far fa-envelope"></i>
        <p class="text">{% trans %}Webmail{% endtrans %}</p>
        </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a href="{{ url_for('.client') }}" class="nav-link">
          <i class="nav-icon fa fa-laptop"></i>
          <p class="text">{% trans %}Client setup{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="{{ config["WEBSITE"] }}" target="_blank" class="nav-link">
        <i class="nav-icon fa fa-globe"></i>
        <p class="text">{% trans %}Website{% endtrans %}</p>
        </a>
      </li>
      <li class="nav-item">
        <a href="https://mailu.io" target="_blank" class="nav-link">
          <i class="nav-icon fa fa-life-ring"></i>
          <p class="text">{% trans %}Help{% endtrans %}</p>
        </a>
      </li>
      {% if config['DOMAIN_REGISTRATION'] %}
      <li class="nav-item">
        <a href="{{ url_for('.domain_signup') }}" class="nav-link">
          <i class="nav-icon fa fa-plus-square"></i>
          <p class="text">{% trans %}Register a domain{% endtrans %}</p>
        </a>
      </li>
      {% endif %}
      {% if current_user.is_authenticated %}
      <li class="nav-item">
        <a href="{{ url_for('.logout') }}" class="nav-link">
          <i class="nav-icon fas fa-sign-out-alt"></i>
          <p class="text">{% trans %}Sign out{% endtrans %}</p>
        </a>
      </li>
      {% else %}
      <li class="nav-item">
        <a href="{{ url_for('.login') }}" class="nav-link">
          <i class="nav-icon fas fa-sign-in-alt"></i>
          <p class="text">{% trans %}Sign in{% endtrans %}</p>
        </a>
      </li>
      {% if signup_domains %}
      <li class="nav-item">
        <a href="{{ url_for('.user_signup') }}" class="nav-link">
          <i class="nav-icon fa fa-user-plus"></i>
          <p class="text">{% trans %}Sign up{% endtrans %}</p>
        </a>
      </li>
      {% endif %}
      {% endif %}
    </ul>
  </nav>
</div>
