alembic==1.7.4
appdirs==1.4.4
Babel==2.9.1
bcrypt==3.2.0
blinker==1.4
CacheControl==0.12.6
certifi==2020.12.5
cffi==1.15.0
chardet==4.0.0
click==8.0.3
colorama==0.4.4
contextlib2==0.6.0
cryptography==35.0.0
decorator==5.1.0
distlib==0.3.1
distro==1.5.0
dnspython==2.1.0
dominate==2.6.0
email-validator==1.1.3
Flask==2.0.2
Flask-Babel==2.0.0
Flask-Bootstrap==3.3.7.1
Flask-DebugToolbar==0.11.0
Flask-Limiter==1.0.1
Flask-Login==0.5.0
flask-marshmallow==0.14.0
Flask-Migrate==3.1.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.15.1
gunicorn==20.1.0
html5lib==1.1
idna==3.2
infinity==1.5
intervals==0.9.2
itsdangerous==2.0.1
Jinja2==3.0.2
limits==1.5.1
lockfile==0.12.2
Mako==1.1.5
MarkupSafe==2.0.1
marshmallow==3.10.0
marshmallow-sqlalchemy==0.24.1
msgpack==1.0.2
mysqlclient==1.4.2.post1
ordered-set==4.0.2
packaging==20.9
passlib==1.7.4
pep517==0.10.0
progress==1.5
psycopg2==2.8.2
pycparser==2.20
Pygments==2.10.0
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytz==2021.3
PyYAML==6.0
redis==3.5.3
requests==2.25.1
retrying==1.3.3
six==1.15.0
socrate==0.2.0
SQLAlchemy==1.3.3
srslib==0.1.4
tabulate==0.8.9
tenacity==8.0.1
toml==0.10.2
urllib3==1.26.5
validators==0.18.2
visitor==0.1.3
webencodings==0.5.1
Werkzeug==2.0.2
WTForms==2.3.3
WTForms-Components==0.10.5
