alembic==1.0.10
asn1crypto==0.24.0
Babel==2.6.0
bcrypt==3.1.6
blinker==1.4
cffi==1.12.3
Click==7.0
cryptography==2.6.1
decorator==4.4.0
dnspython==1.16.0
dominate==2.3.5
Flask==1.0.2
Flask-Babel==0.12.2
Flask-Bootstrap==3.3.7.1
Flask-DebugToolbar==0.10.1
Flask-Limiter==1.0.1
Flask-Login==0.4.1
Flask-Migrate==2.4.0
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.0
Flask-WTF==0.14.2
gunicorn==19.9.0
idna==2.8
infinity==1.4
intervals==0.8.1
itsdangerous==1.1.0
Jinja2==2.10.1
limits==1.3
Mako==1.0.9
MarkupSafe==1.1.1
mysqlclient==1.4.2.post1
passlib==1.7.1
psycopg2==2.8.2
pycparser==2.19
pyOpenSSL==19.0.0
python-dateutil==2.8.0
python-editor==1.0.4
pytz==2019.1
PyYAML==5.1
redis==3.2.1
six==1.12.0
socrate==0.1.1
SQLAlchemy==1.3.3
tabulate==0.8.3
tenacity==5.0.4
validators==0.12.5
visitor==0.1.3
Werkzeug==0.15.2
WTForms==2.2.1
WTForms-Components==0.10.4
